### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

### Dependencies ###
node_modules

### Secrets ###
src/config/ServiceAccountKey.json
.env*
.flaskenv*
!.env.project
!.env.vault